{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container record-container">
    <legend>Enrollments Record</legend>
    <ul class="list-group mt-4">
        <!-- Iterate over object_list -->
        {% for object in object_list %}
            <!-- Display Objects -->
            <li class="list-group-item">{{ object.class_enrolled }}<a class="float-right" href="{% url 'Enrollment Delete' object.id %}">Cancel</a></li>
            <hr />
            <!-- If object_list is empty  -->
        {% empty %}
            <li class="list-group-item">No Enrollments yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}