{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container profile-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group profile-form">
                <legend class="mb-4">Profile</legend>
                {{ user_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline text-light" type="submit">Update</button>
            </div> 
        </form>
    </div>
{% endblock content %}